# Homework 5
Welcome to your fifth homework assignment for CSC 294. In this 
assignment, we will practice implementing cross-validation. 

In this assignment, we will use a dataset similar to our (fake) 
employee dataset, encoded in the `hw5data.csv` file. In this data 
set, there are four variables: a new hire's score on the big five 
personality test (`neuroticism`), their most recent performance score 
(`performance`), their job type (`job`), and their current salary. 
Our goal is to determine what relationship -- if any -- salary has 
with the other three variables. 

A few notes before we begin:
1. For this assignment, please submit your work in the jupyter 
   notebook called `hw5_notebook.ipynb`. 
2. There are unit tests for this assignment, so that you can check 
   that elements of your code work. Place these elements in the file 
   called `hw5.py`. Note that part of the assignment is showing that 
   the tests pass locally and on github actions.

In [1]:
# Import Block
import pandas as pd
import numpy as np

In [2]:
# Data Import Block
data = pd.read_csv("hw5data.csv")
data

     neuroticism  performance        job         salary
0       3.199914    51.564036  technical  106243.048181
1       2.030238    49.450498    manager  112692.776165
2       4.269581    52.500872  technical  103622.369119
3       3.025011    42.019628  technical  109914.369855
4       2.661687    70.396598    manager  126709.849574
..           ...          ...        ...            ...
995     3.998330    50.646126  technical  107888.959496
996     4.644208    66.356879  technical  116504.876854
997     4.455327    42.240215    manager  114126.650852
998     3.004574    38.122114    manager  110904.164358
999     3.393171    34.341145    manager  108925.290762

[1000 rows x 4 columns]

In [3]:
#make list of columns from that dataset that need to be pre-processed into numerical values
colsToMakeIntType = []
for col in data:
    if data.dtypes[col] == 'object':
        colsToMakeIntType.append(col)
colsToMakeIntType

['job']

In [4]:
#practice
unique_values = np.unique(colsToMakeIntType)
unique_values

array(['job'], dtype='<U3')

In [5]:
#1: data_wrangle function
def data_wrangle(filename, colsToMakeIntType):
    
    #For each column listed as an input (ie. those with non-numerical data): 
    for col in colsToMakeIntType:
        #Determine the unique values in that column
        unique_values = np.unique(col)
        #Convert the unique values to numbers
        for item in col:
            unique_values[i] = i
            data[col][item] = i
        return colsToMakeIntType

In [6]:
data_wrangle()

TypeError: data_wrangle() missing 2 required positional arguments: 'filename' and 'colsToMakeIntType'

In [7]:
# Extra function

def compute_mse(truth_vec, predict_vec):
    return np.mean((truth_vec - predict_vec)**2)

## Question 1: Pre-processing the data

Given that our implementations for linear regression assume that our 
data is in the form of a numpy array, we need to ensure that we can 
import our data as such. 

This means that we need to check that each column of our data 
contains numbers. If it does not, then we need to convert the 
information in those columns to numbers. For example, suppose that 
we have a variable of favorite colors with possible values `red`, 
`blue`, and `green`. We might convert this information such that 
`red` becomes 0, `blue` becomes 1, and `green` becomes 2. 

For this problem, create a function `data_wrangle` (in `hw5.py`) that 
will take an input `filename` and a list of columns from that dataset 
that need to be pre-processed into numerical values. Your function 
should:    
1. Import the data with `pandas` 
2. For each column listed as an input (ie. those with non-numerical 
   data):
   * Determine the unique values in that column
   * Convert the unique values in into unique numbers. 
3. Then the function should extract the data's column names from 
   the observation rows.  
4. The data should then be converted to a numpy array
5. Finally `data_wrangle` should output all of the column names in 
   order as well as the converted dataset. 

_Hint:_ If your tests are throwing odd errors, you may need to 
convert the `type` of your final numpy array using `.astype(float)`

In [8]:
def data_wrangle(dataset_file, lst):
    pass

## Question 2: Implement k-fold Cross-Validation

Create a function `kfold_CV` (in `hw5.py`) that implements k-fold 
cross-validation. 
The inputs, in order, should be:
1. The full dataset (as a numpy array)
2. The header list (as in the list of variable/column names, in the 
   the order that they appear in the dataset)
3. Input variables
4. Output variables
5. Value for _k_

Using these inputs, `kfold_CV` should extract the input and output 
variables from the full dataset, divide the data into the _k_ folds, 
determine the linear relationship for the output variable given the 
input variables for each fold, and then `kfold_CV` should output only 
the cross-validated error as a float.

In [9]:
def kfold_CV(data, col_names, inputs, output, k):
    #extract the input and output variables from the full dataset
    inputs = data[inputs]
    output = data[output]


    #divide the data into the k folds. split_dataframes is a list now
    split_dataframe = []
    index_to_split = len(data) // k
    start = 0
    end = index_to_split
    for split in range(k):
        temporary_df = data.iloc[start:end, :]
        split_dataframes.append(temporary_df)
        start += index_to_split
        end += index_to_split

    #determine the linear relationship for the output variable given the input variables for each fold
    #fit but dont predict
    lin_relationships = []
    for fold in split_dataframes:
        lin_relationships.append(fold)

    #output only the cross-validated error as a float #from lab 13
    # Find the number of data points in your data
    #n_data = data.shape[0]
    n_data = data[0]

    # Initialize the list of errors
    test_errors = []

    # Loop over all points in the data set, letting each act as the test set
    for i in range(n_data):

        # Split data into train and test
        test_data = n_data[i]
        train_data = n_data[:i] + n_data[i+1:]

        # Create and train a model
        lm= linear_model.LinearRegression()
        mod = lm.fit(train_data[:,1:3], train_data[:,0]) # work here

        # Compute the testing error and add it to the list of testing errors
        #preds = mod.predict(test_data[:,1:3])
        t_error = compute_mse(test_data[:,0],mod)
        test_errors.append(t_error)

    # Compute the cross-val error
    return np.mean(test_errors)

In [10]:
#https://datagy.io/split-pandas-dataframe/
def split_dataframe_by_position(data, k):
    dataframes = []
    index_to_split = len(data) // k
    start = 0
    end = index_to_split
    for split in range(k):
        temporary_df = data.iloc[start:end, :]
        dataframes.append(temporary_df)
        start += index_to_split
        end += index_to_split
    return dataframes
split_dataframes = split_dataframe_by_position(data, 2)
print(split_dataframes)

[     neuroticism  performance        job         salary
0       3.199914    51.564036  technical  106243.048181
1       2.030238    49.450498    manager  112692.776165
2       4.269581    52.500872  technical  103622.369119
3       3.025011    42.019628  technical  109914.369855
4       2.661687    70.396598    manager  126709.849574
..           ...          ...        ...            ...
495     3.116976    43.975946    manager  110385.952782
496     4.020593    74.082378  technical  116337.598175
497     1.999254    37.803076  technical  110911.510930
498     2.439240    47.376813  technical  113814.697618
499     2.827729    54.672298  technical  116818.500367

[500 rows x 4 columns],      neuroticism  performance        job         salary
500     2.493154    39.287936  technical  103820.307764
501     2.573965    21.175394  technical   98863.576229
502     2.309524    47.197614  technical  114497.325655
503     3.557913    63.716685  technical  108760.648049
504     3.958743    39.964175    manager  106164.629911
..           ...          ...        ...            ...
995     3.998330    50.646126  technical  107888.959496
996     4.644208    66.356879  technical  116504.876854
997     4.455327    42.240215    manager  114126.650852
998     3.004574    38.122114    manager  110904.164358
999     3.393171    34.341145    manager  108925.290762

[500 rows x 4 columns]]

## Question 3: Use 10-fold Cross-Validation

Using your function from question 2, import `hw5.py` into your 
jupyter notebook. Now use `kfold_CV` to determine the shape of the 
"true" relationship for `salary`. 

Test the following combinations of input variables:
* `neuroticism`
* `performance`
* `job`
* `neuroticism` and `performance`
* `neuroticism` and `job`
* `performance` and `job`
* `neuroticism`, `performance` and `job`

Using 10-fold cross-val, choose which combination yields the best 
relationship for describing `salary` and justify your choice.

## Question 4: Determine the full model

Once you have determined what variables your model should include, 
find the actual coeffients for the model using all of the dataset. 
Explain why using all of the data in the creation of the model is 
appropriate in this case.